.example-spacer {
    flex: 1 1 auto;
  }

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px 40px;
  border-radius: 5px;
  background-color:  royalblue;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.custom-select select:focus {
  outline: none;
  border-color: #007bff;
}
