
  // .home__wrapper{
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  ul{
    list-style: decimal ;
    li {
      padding: 10px 20px;
      margin-bottom: 10px;
      letter-spacing: 5px;
      background-color: royalblue;
      font-size: 20px;
      color: white;
    }
  }