body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 97vh;
}

.calculator {
	width: 300px;
	margin: 50px auto;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.display {
	margin-bottom: 10px;
	padding: 10px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #ccc;
	overflow: auto;
	border-radius: 5px;
	text-align: right;
	font-size: 45px;
	font-weight: 800;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}
button {
	padding: 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
}
button:hover {
	background-color: #0056b3;
}

.teng {
	width: 215%;
}

.amal {
	background-color: green;
}

.amal:hover {
	background-color: rgb(2, 107, 2);
}
