body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

#device-list {
	font-family: Arial, sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
}

.login-container {
	width: 300px;
	margin: 100px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
	text-align: center;
}
.login-form {
	margin-top: 20px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.login-form input[type="submit"] {
	width: 100%;
	background-color: #4caf50;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}
.login-form input[type="submit"]:hover {
	background-color: #45a049;
}
