div{
    display: flex;
    input{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid ;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
}