.task2 {
	align-items: start;
}
.task2 .box {
	width: 200px;
	border-radius: 5px;
	border: solid 1px;
	padding: 10px;
	background-color: royalblue;
	color: white;
	height: 200px;
}
.task3 .box {
	border-radius: 5px;
	width: 200px;
	height: 200px;
	border: solid 1px;
}
.task3 a {
	border-radius: 0;
}

.task4 {
	width: 450px;
	/* background-color: red; */
	flex-wrap: wrap;
	gap: 20px;
}

.task4 .box {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	display: inline-block;
	background-color: royalblue;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.task5 {
	margin-top: 20px;
	border: 1px solid royalblue;
	width: 450px;
	height: 200px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.task5 .box {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	display: inline-block;
	background-color: royalblue;
}

.task6 {
	margin-top: 20px;
	flex-direction: column;
	align-items: flex-start !important;
	border: solid 1px;
}

.task6 .box {
	width: 300px;
}

.task7 {
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
}

.task7 a {
	border: solid 2px rgb(8, 81, 169) !important;
}

.task8 {
	margin-top: 20px;

	flex-direction: column;
}

.task8 .box {
	width: 500px;
	height: auto;
}
